@model IEnumerable<Biblioteca.Models.Libros>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Libro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Existencias_Libro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Libro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion_Libro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editorial_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Libro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencias_Libro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_Libro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion_Libro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editorial_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
